* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: TT Hoves;
  color: #222222;

}

section {
  padding: 0 calc(24px + (121 - 24) * ((100vw - 375px) / (1280 - 375)));
}

section.hello {
  padding: 40px;
  background-image: url('./img/html.png');
  background-repeat: no-repeat;
  background-position: top 120px right 30px;
  background-size: 35%;
  padding-bottom: calc(12vw + 24px)
}

.logo {
  height: calc(30px + (41 - 30) * ((100vw - 375px) / (1280 - 375)));
}

.courseinfo {
  display: flex;
  gap: 30px 160px;
  flex-wrap: wrap;
  margin-top: calc(28px + (85 - 28) * ((100vw - 375px) / (1280 - 375)));
  margin-bottom: calc(48px + (76 - 48) * ((100vw - 375px) / (1280 - 375)));
}

.courseData {
  font-size: 21px;
  line-height: 140%;
}

.courseData .value {
  font-weight: 700;
}

h1 {
  font-family: 'Chava';
  font-size: calc(42px + (80 - 42) * ((100vw - 375px) / (1280 - 375)));
  line-height: 110%;
}

p {
  margin-top: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
  ;
  font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 400;
  line-height: 140%;
}

.cta {
  margin-top: 20px;
  display: flex;
  gap: 20px 30px;
  flex-wrap: wrap;
}

button {
  width: 328px;
  padding: 20px 0;
  border-radius: 12px;

  font-size: 18px;
  font-weight: 500;
  line-height: 117%;
  cursor: pointer;
}

button.purpel {
  background: #6E3ABA;
  color: white;
  border: 1px solid #6E3ABA;

}

button.white {
  background: white;
  color: #6E3ABA;
  border: 1px solid #6E3ABA;
}

section.second {
  padding-bottom: calc(6.6vw + 35px);
}


h2 {
  font-size: calc(2.7vw + 24px);
  font-weight: 500;
  line-height: calc(3.1vw + 28px);
}

.courseBox img {
  width: calc(3.3vw + 167px);
}

.courseContainer {
  display: flex;
  gap: 70px;
}

.courseTypes {
  display: flex;
  flex-direction: column;
  gap: calc(5.2vw + 7px);
  margin-top: calc(8.1vw + 10px);
}

.courseBox p {
  font-weight: 600;
  font-size: calc(1vw + 14px);
  line-height: calc(1.3vw + 20px);
}

.courseBox span {
  font-size: calc(1.3vw + 12px);
  line-height: calc(1.4vw + 19px);
}

section.saleContainer {
  margin-top: 50px;
  background: #6E3ABA;
  padding: calc(4.4vw + 23px) 0 calc(5.3vw + 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}


.h3 {
  color: white;
  font-weight: 700;
  font-size: calc(2vw + 26.5px);
  margin-bottom: calc(4.1vw + 4.7px);
}

.time {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 85px;
  margin-bottom: calc(4vw + 6px);
}

.date {
  font-size: calc(12.6vw + 12.8px);
  font-family: 'Chava';
}



.infoSection {
  margin-bottom: 160px;
}


.timeCard span {
  font-size: calc(1.9vw + 3px);
  display: block;
  text-align: center;
}

h4 {
  font-size: calc(2.7vw + 24px);
  font-weight: 500;
  line-height: calc(3.1vw + 28px);
  margin-bottom: calc(5vw + 8px);
  margin-top: calc(11vw + 19px);
}

.infoTitle {
  font-weight: 600;
  font-size: calc(1vw + 14px);
  line-height: calc(1.3vw + 20px);
}

.infoText {
  font-size: calc(1vw + 14px);
  line-height: calc(1.3vw + 20px);
}

.infoContainer {
  display: flex;
  gap: 100px;

}

h4 {
  font-size: calc(38px + (48 - 38) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 700;
  line-height: 120%;
}

.legendContainer {
  margin-top: calc(11vw + 18px);
}

.infoContainer2 {
  display: flex;
  gap: calc(20px + (51 - 20) * ((100vw - 375px) / (1280 - 375)));
  flex-wrap: wrap;
}

.infoCard2 {
  flex-basis: 250px;
  flex-grow: 1;
}

.infoCard2 img {
  width: 100%;
}

.infoBox2 {
  flex-basis: 300px;
  flex-grow: 3;
}

.skill img {
  width: 36px;
}

.skill span {
  display: block;
  margin-top: 10px;
  font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
  line-height: 140%;
}

h2 {
  font-size: calc(2.7vw + 24px);
  font-weight: 500;
  line-height: calc(3.1vw + 28px);
  margin-bottom: calc(5.5vw + 19px);
}

h5 {
  line-height: 140%;
  font-weight: 700;
  font-size: calc(38px + (48 - 38) * ((100vw - 375px) / (1280 - 375)));
}

.legendSkills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: calc(30px + (40 - 30) * ((100vw - 375px) / (1280 - 375)));
  column-gap: calc(10px + (90 - 10) * ((100vw - 375px) / (1280 - 375)));
  margin-top: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
}




.diplomContainer {
  margin-top: calc(12vw + 14px);
  margin-bottom: calc(12vw + 14px);
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 20px;
}

.diplom {
  width: 100%;
}

.diplomImg{
  grid-row: 1/3;
}

.title2 {
  font-size: calc(2.7vw + 24px);
  font-weight: 500;
  line-height: calc(3.1vw + 28px);
  text-transform: uppercase;
}

.salaryImg{
  width: 100%;
}

.salaryContainer{
  display: flex;
  flex-direction: column;
  gap:calc(2.2vw + 11px)
}

.laptopSection{
  margin-top: calc(11vw + 19px);
  margin-bottom: calc(11vw + 19px);
}

.laptopImg img{
  width: 100%;
}

.laptopBox{
  display: flex;
  gap:10px;
  flex-wrap: wrap;
}

.laptopImg {
flex-basis: 570px;
flex-grow: 1;
}

.laptopCard{
  flex-basis: 470px;
  flex-grow: 2;
}



@media(max-width:1060px){
   .time{
    grid-template-columns: repeat(2, 1fr);
   }
}




@media(max-width:900px){
  .diplomContainer{
    grid-template-columns: 1fr;
  }
.diplomTitle{
  order: 1;
}
  .diplomImg{
    grid-row: unset;
    order: 2;
  }

  .aboutDiplom{
    order: 3;
  }
 
}





@media(max-width:600px) {
  .infoContainer {
    flex-wrap: wrap;
    gap: 8px;
  }


  .courseContainer {
    flex-direction: column;
    gap: 45px;
  }

  .infoSection {
    margin-bottom: 40px;
  }


  .time {
    justify-content: center;
  }
}